* {
  box-sizing: border-box;
  margin: 0;
}
.space-header,
.title,
.container,
.upcoming-launch,
.right-column,
.small-container,
.timer-countdown,
.mission-info,
.map-container,
.giphy-contianer {
  display: flex;
}
.space-header,
.title  {
  justify-content: center;
  align-items: center;
}
.space-header{
  width: 100%;
  height: 15vh;
  font-size: 3vmin;
}
.container {
  width: 100%;
  height: 85vh;
}
.title {
  width: 40%;
  height: 60%;
  justify-content: center;
  align-items: center;
  font-size: 3vmin;
}
.left-column {
  overflow-y: scroll;
  background-color: goldenrod;
  width: 30%;
  height: 100%;
}
.upcoming-launch {
  flex-direction: column;
  width: 100%;
}
.launch-list{
  width: 100%;
  height: 50px;
}
.right-column {
  width: 70%;
  height: 100%;
  flex-direction: column;
}
.small-container {
  width: 100%;
  height: 50%;
}
.small-container:first-child{
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.timer-countdown {
  width: 80%;
  height: 15%;
}

.mission-info {
  width: 100%;
  height: 80%;
}

.map-container,
.giphy-container {
  width: 100%;
  height: 100%;
}

.image-gif{
  width: 100%;
  height: 100%;
}
#test-btn {
  width: 300px;
  height: 100px;
}
