* {
  box-sizing: border-box;
  margin: 0;
}
.space-header,
.title,
.container,
.upcoming-launch,
.trailer,
.omdb,
.left-column,
.right-column,
.timer-countdown,
.small-container,
.timer-countdown,
.mission-info,
.map,
.gimphy-contianer {
  display: flex;
}
.space-header,
.title  {
  justify-content: center;
  align-items: center;
}
.space-header{
  width: 100%;
  height: 15vh;
  font-size: 3vmin;
}
.container {
  width: 100%;
  height: 85vh;
}
.title {
  width: 40%;
  height: 60%;
  justify-content: center;
  align-items: center;
  font-size: 3vmin;
}
.left-column {
  width: 30%;
  height: 100%;
}
.upcoming-launch {
  width: 100%;
  height: 100%;
}

.right-column {
  width: 70%;
  height: 100%;
  flex-direction: column;
}

.small-container {
  width: 100%;
  height: 50%;
}
.small-container:first-child{
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.timer-countdown {
  width: 80%;
  height: 15%;
}

.mission-info {
  width: 100%;
  height: 80%;
}

.map-container,
.giphy-container {
  width: 100%;
  height: 100%;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-chartreuse {
  background-color: chartreuse;
}

.bg-navy {
  background-color: navy;
}

.bg-brown {
  background-color: brown;
}

.bg-rebeccapurple {
  background-color: rebeccapurple;
}

.bg-violet {
  background-color: violet;
}

.bg-yellow {
  background-color: yellow;
}

#test-btn {
  width: 300px;
  height: 100px;
}
